@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.discussionCommentersCard{
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}

/* Content */
.commenters-content1{
    display: flex;
}

.commenters-image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.imageBorder{
    border: 1px solid gray;
}

.commenters-name{
    color: rgb(100, 100, 100);
    margin-top: 10px;
    margin-left: 8px;
}

/* Content 2 */
.commenters-content2{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}

.followButton{
    color: rgb(100, 100, 100);
    border: 0;
    background-color: unset;
    transition: 0.3s;
}

.followButton:hover{
    color: rgb(85, 85, 85);
    transform: scale(1.25);
}