@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.discussionArticlesCard{
    margin-bottom: 20px;
}

/* content 1 */
.articles-content1{
    margin-bottom: 5px;
}

.link-matter{
    text-decoration: none;
    color: black;
}

/* content 2 */
.articles-content2{
    display: flex;
    flex-direction: row;
    color: grey;
}

.link-profile{
    text-decoration: none;
    color: rgb(100, 100, 100);
    margin-left: 0;
}